#guns
  a
    color: black

  h3
    margin: 0 -20px 20px
    padding: 0 20px

  h3, h5
    background-color: rgba(0,0,0,0.6)
    
  .tiles
    padding-bottom: 20px

  .item
    float: left

    &:hover
      .gun-tile
        background-image: -ms-linear-gradient(top, $grey-medium 0%, $grey-lighter 100%)
        background-image: -moz-linear-gradient(top, $grey-medium 0%, $grey-lighter 100%)
        background-image: -o-linear-gradient(top, $grey-medium 0%, $grey-lighter 100%)
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $grey-medium), color-stop(1, $grey-lighter))
        background-image: -webkit-linear-gradient(top, $grey-medium 0%, $grey-lighter 100%)
        background-image: linear-gradient(to bottom, $grey-medium 0%, $grey-lighter 100%)


  .gun-tile, .show-image
    background-image: -ms-linear-gradient(top, $grey-medium 0%, $grey-light 100%)
    background-image: -moz-linear-gradient(top, $grey-medium 0%, $grey-light 100%)
    background-image: -o-linear-gradient(top, $grey-medium 0%, $grey-light 100%)
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $grey-medium), color-stop(1, $grey-light))
    background-image: -webkit-linear-gradient(top, $grey-medium 0%, $grey-light 100%)
    background-image: linear-gradient(to bottom, $grey-medium 0%, $grey-light 100%)

    p
      text-align: right
      padding-right:  10px

  .weapon-info
    padding-bottom: 20px
