header
  .title
    margin: 0 -20px
    text-align: right
    background-color: $transparent-dark
    border-bottom: 3px solid $red-dark

    a
      height: 51px
      display: block

    img
      width: 300px
      padding: 10px
