.text-content
  .row
    .columns
      %h2 Members:

      %ol
        - @clan_members.each do |clan_member|
          %li
            = clan_member.username
            = clan_member.steam_link_tag
