.text-content
  .row
    .columns
      %h2 Members:

      %ol
        - @clan_members.each do |clan_member|
          %li
            = clan_member.username
            = link_to 'on Steam', clan_member.steam_link if clan_member.steam_link.present?
