body
  font-family: 'Abel', sans-serif
  background-image: image-url('background2.jpg')
  background-attachment: fixed
  background-position: center center

h1, h2, h3, h4, h5
  color: $red

h1, h2, h3
  text-transform: uppercase
  font-family: 'Special Elite'
  padding: 10px 20px 0

a
  color: $red-darkest
  &:hover
    color: $red-dark
