body
  background-image: image-url('background2.jpg')
  background-attachment: fixed
  background-position: center center

h1, h2, h3, h4, h5
  color: $red

h1, h2, h3
  text-transform: uppercase

#maincontent, header, footer
  padding: 20px 20px
  margin: 20px 0
  background-color: rgba(255,255,255,0.3)
