.bg-hack
  .row
    %section.columns.large-12
      .title
        = link_to '/' do
          = image_tag 'undrhund.png'

      .navigation
        = render_navigation

      - if request.env["REQUEST_PATH"].match(/fag|clan_member/) || current_clan_member
        .clan-navigation.navigation
          = render_navigation context: :clan
