.row
  .columns
    %h3 Friendly Average Gamers

.text-content
  .row
    .columns
      %p
        As you may have read the main Goal here is to gather some cs:go players to play competitively. I dont have many friends playing cs:go and entering comp cs:go alone is sometimes frustrating.
        %br
        Steam Friendlist is another thing... mine is not that big but i cant remember who is who.
      %p So the idea is: if i want to play some cs:go i can come here, see whos on, add them (if not allready happened) and go for it.
      %p
        A cool thing would be something like a "Phoenix Night", where we will do phoenix maps and where this site will be organisational to have votes for wich day the most want to play and stuff like that. If you know in advance that perhaps monday is your counter strike night, we can use this data aswell. Maybe a "heat-map" at wich times the most players were online or stuff like that. I kinda hope for some feedback.
      %p To be in you only have to:
      %ol
        %li Have a working mic and the will to use it
        %li Speak so much english to make yourself understand
        %li Have a friendly attitude (no ragequitters, trashtalkers, idiots of all sort)
      %p
        If you're in and want to have some relaxing, friendly competitive cs:go, please register below.
        %span.muted (it would make me really happy)

.text-content
  .row
    .columns
      %p
        See who signed up
        = link_to 'here', clan_members_path

.row
  .columns
    %h3 Sign Up (and make my day)

.text-content.member-form
  .row
    .columns.large-6.large-centered
      %p (none of the information entered will be sold or abused or anything like that)

= render :template => "clan_members/registrations/new"
